<div class="home-page">
  <!-- Left Side - Quote and Shop Now -->
  <div class="left-side">
    <div class="brand-name" id="brand-name">
      <h1>TFLEX</h1>
    </div>
    <div class="quote" id="quote">
      <p>Welcome to the world of stylish T-shirts!</p>
    </div>
    <Link to="/men">
    <button class="shop-now-button">SHOP NOW</button>
    <link>
  </div>

  <!-- Right Side - Model Image -->
  <div class="right-side">
    <img src="assets/images/man_image.png" alt="Model Wearing T-Shirt">
  </div>
</div>

<div class="comfort-fit">
  <!-- Right Side - Model Image -->
  <div class="topic-right-side">
    <img src="assets/images/comfort_fit.png" alt="Model Wearing T-Shirt">
  </div>
  <!-- Left Side - Quote and Shop Now -->
  <div class="topic-left-side">
    <div class="topic-brand-name">
      <h1><span>TFLEX Comfort Fit</span><span></span></h1>
      <p>Discover true comfort with our "Comfort Fit" collection. Elevate your style effortlessly while feeling relaxed and confident.</p>
      <button class="shop-now-button">SHOP NOW</button>
    </div>
  </div>
</div>

<div class="comfort-fit">
  <!-- Left Side - Quote and Shop Now -->
  <div class="topic-2-left-side">
    <div class="topic-brand-name">
      <h1><span>TFLEX Crop Tee</span></h1>
      <p>Discover true comfort with our "Comfort Fit" collection. Elevate your style effortlessly while feeling relaxed and confident.</p>
      <button class="shop-now-button">SHOP NOW</button>
    </div>
  </div>
  <!-- Right Side - Model Image -->
  <div class="topic-2-right-side">
    <img src="assets/images/crop_tee.png" alt="Model Wearing T-Shirt">
  </div>
</div>

<div class="comfort-fit">
  <!-- Right Side - Model Image -->
  <div class="topic-right-side">
    <img src="assets/images/polo_shirt.png" alt="Model Wearing T-Shirt">
  </div>
  <!-- Left Side - Quote and Shop Now -->
  <div class="topic-left-side">
    <div class="topic-brand-name">
      <h1><span>TFLEX Polo Shirt</span><span></span></h1>
      <p>Explore our "Polo Shirt" collection, where timeless elegance meets modern comfort. Elevate your style with these versatile classics, designed for a relaxed yet refined look. </p>
      <button class="shop-now-button" [routerLink]="'/men'">SHOP NOW</button>
    </div>
  </div>
</div>

