
<div class="container">
  <mat-card class="login-card">
    <mat-card-content class="content">
      <h1 class="mat-title">TFLEX</h1>
      <p>Sign into Your account</p>
      <form (ngSubmit)="onSubmit()">
        <div class="form-field">
          <input matInput placeholder="Username" id="username" name="username" [(ngModel)]="loginData.username" required>
        </div>
        <div class="form-field">
          <input matInput placeholder="Password" type="password" id="password" name="password" [(ngModel)]="loginData.password" required>
        </div>
        <button class="login-button" type="submit">Sign In</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>


